* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body {
    overflow-x: hidden !important;
    height: 100%;
    position: relative;
    font-family:'Inter', sans-serif !important;
    font-weight: normal !important;
}


h1 ,h2 , h3, h4, h5, h6, p, ul, ol {
    margin-bottom: 0px !important;
}

.disable-scroll {
    overflow-y: hidden;
}


/*****************reset styles*******************/

.header-primary {
    position: absolute;
    padding: 20px 0px;
    z-index: 1;
}

.wrapper {
    width: 100%;
}

.app-container {
    max-width: 1400px;
    margin: auto;
    padding: 0px 20px;
}



.nav-menu {
    padding-left:20px;
    position: relative;
}

.logo-main {
    position: relative;
}

.mobile-btn {
    font-size: 32px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    
}

.close-btn {
    font-size: 58px;
    position: absolute;
    left:50%;
    top: 0;
    display: none;
}

.nav-menu .row {
  align-items: center;
}


.nav-menu .menu {
    list-style: none;
    display: flex;
  
}

.nav-menu .menu .menu-items {
  padding-right: 55px;
}

.nav-menu .menu .menu-items .menu-links {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    line-height: 19px;
}

.nav-menu .menu .menu-items .menu-links:hover {
    color: #FEC737;
}

.nav-menu .menu .menu-items .active-link {
    color: #FEC737;
    font-weight: 600;
}


.nav-cta .cta-join {
    margin-right:20px ;
 }


 .nav-cta {
     display: flex;
     justify-content: flex-end;
 }


.cta-join {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;
    width: 109px;
    min-height: 48px;
    text-align: center;
    display: inline-block;
    transition: all 0.4s;
}

.cta-join:hover {
   background-color: #fff;
   color: #000;
   text-decoration: none;
}


.cta-login {
    color:#000000;
    background-color:#FEC737;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 48px;
    width: 109px;
    min-height: 48px;
    text-align: center;
    display: inline-block;
    transition: all 0.4s;
}

.cta-login:hover {
    background-color:#f3b20d;
    text-decoration: none;
    color: #000000;
}

/*************nav-barends here*************/  
.home-hero-section {
    position: relative;
}

.hero-main {
    background: url(../images/home-hero-img.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%; 
    min-height: 848px;
}

.hero-main::before {
    content: "";
    width: 100%;
    background:linear-gradient(183.12deg, #0C0C0C 5.2%, rgba(12, 12, 12, 0) 27.77%) ,  linear-gradient(89.34deg, #0C0C0C 3.42%, rgba(12, 12, 12, 0) 48.79%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.home-hero-section .hero-content  {
    padding: 320px 0px 162px 0px;
}

.home-hero-section .hero-content .title-main .hero-title {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;
    
}

.home-hero-section .hero-content .title-main .hero-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height:28px;
    color: #fff;
    padding: 25px 0px 60px 0px;
}

.highlight-text {
    color:#fec737;
}

.social-media {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 80px;
    bottom: 50px;
}


.icons-menu .icons {
    padding: 0px 0px 20px 8px;
    list-style: none;
}


.follow {
   font-family: 'Mulish', sans-serif;
   color: #fff;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 23px;
   transform: rotate(-90deg);
   display: inline-block;
   margin-top: 100px;
   position: relative;
}

.follow::after {
    content: "";
    width: 1px;
    height: 60px;
    background-color: #FECF60;
    position: absolute;
    left: 100px;
    top:-18px;
    transform: rotate(-90deg);
}

/****************ctas*****************/
.cta-primary {
    color:#000000;
    background-color:#FEC737;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 18px 32px;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.4s;
    display: inline-block;
}


.cta-primary:hover {
    background-color:#f3b20d;
    text-decoration: none;
    color: #000000;
}


.cta-main a {
   margin-right: 20px;
}


.cta-secondary {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    transition: all 0.4s;
    padding: 18px 32px;
    line-height: 19px;
}


.cta-secondary:hover , .cta-know-more:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}


.cta-know-more {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    background-color: transparent;
    color: #fff;
    padding: 10px 40px;
    border: 1px solid #ffff;
    border-radius: 6px;
    margin-top: 27px;
    display: inline-block;
    transition: all 0.4s;
}

/***************ctas****************/


/*******************hero-home-ends-here***********/

.dark-bg {
    background-color: #0D0E10;
    position: relative;
}


.section {
    padding: 120px 0px;
}


.slider-section::before {
   content: "";
   background: url(../images/bg-dark-icon-1.svg);
   background-position: left;
   background-repeat: no-repeat;
   background-size: contain;
   width: 300px;
   height: 300px;
   position: absolute;
   left: 0px;
   top: 0px;
}


.title-main {
    padding-bottom: 60px;
}


.title-main .section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #ffff;
    padding-bottom: 20px; 
}


.title-main .section-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #ffff;
    text-align: center;
}


.slider-section  .slide {
    background-image: url(../images/slider-img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 528px;
    min-height: 560px;
    border: 1px solid #D28721;
}


.slider-section .slider-container .slide-second {
    background-image: url(../images/slider-img-2.jpg)
}


.slider-section  .slide .slide-inner {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 560px;
    padding: 50px;
    position: relative;
}


.slider-section .slide-title {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 20px;
}

.slider-section .slide-content {
    position: absolute;
    bottom: 40px;
}


.slider-section  .slide-description {
    color: #fff;
    padding: 0px 80px 0px 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    border-left: 3px solid #ffff;
}



.slider-section .owl-stage {
    display: flex;
    justify-content: center;
}


.slider-section .owl-stage .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 552px !important;
}


/*******slider-dots-tyling-for both sliders are here for home page ***********************************/
.slider-container .owl-carousel .owl-dots, .testimonial-slider-main .testimonial-slider .owl-dots  {
    display: flex;
    justify-content: center;
}

.slider-container .owl-carousel .owl-dots .owl-dot , .testimonial-slider-main .testimonial-slider .owl-dots .owl-dot {
    background-color:#0000;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid #ffff;
    outline: none;
    margin: 27px 16px 0px 0px;
}

.slider-container .owl-carousel .owl-dots .active , .testimonial-slider-main .testimonial-slider .owl-dots .active {
    background-color: #FEC737;
    border: 1px solid #FEC737;
}

.testimonial-slider-main .testimonial-slider .owl-dots .owl-dot {
    margin: 70px 16px 0px 0px !important;

}
/*******slider-dots-tyling-for both sliders are here for home page ***********************************/


/****************slider-section-ends-here**************/

.bg-dark-purple {
    background-color: #0D1124;
}


.vedio-outer {
    max-width: 970px;
    min-height: 450px;
    margin: auto;
    position: relative;
    cursor: pointer;
}

.vedio-outer::before {
    content: "";
    width:100px;
    height: 100px;
    background: url(../images/video-play-btn.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.vedio-outer::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(17, 23, 49, 0.2);
    border: 1px solid #FECF60;
    position: absolute;
    left: 0;
    top: 0;
    z-index: +1;
}


.vid-thumbnail-img {
     max-width: 100%;
     height: 100%;
     box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25);
     
}

/*************home-page-features-section-ends-here***********/

.bg-dark-blue {
    background: linear-gradient(90.45deg, #020514 -3.94%, #040A20 99.75%);
}


.testimonial-section {
    padding: 150px 0px;
}

.testimonial-slider-main {
    overflow-x: hidden;
}



.testimonial-slider-main .testimonial-slider .testimonial-item .testimonial-content {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height:44px;
    text-align: center;
    color: #FFFFFF;

}

.testimonial-slider-main .testimonial-slider .testimonial-item .message-bubble {
    border-bottom:1px solid #FFFFFF;
    opacity: 0.45;
    width: 60%;
    margin: 60px auto 0px auto;
    position: relative;
}


.testimonial-slider-main .testimonial-slider .testimonial-item .message-bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 18px solid ;
    border-color: #03081c transparent transparent #03081c;
    left: 50%;
    top: 0;
    transform: translatex(-50%);
}


.testimonial-slider-main .testimonial-slider .testimonial-item .message-bubble::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid ;
    border-color: #ffff transparent transparent #ffff;
    left:50%;
    top: 0;
    transform: translatex(-50%);
}




.testimonial-slider-main .testimonial-slider .owl-nav {
   display: none;
}


.testimonial-slider-main .testimonial-slider .owl-stage {
    display: flex;
    justify-content: center;
}

.testimonial-section .client-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.15px;
}


.testimonial-section .client-details .client-info h5 {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #fff;
    
}


.testimonial-section .client-details .client-info p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color:  #FEC737;
    

}


.testimonial-section .client-details .client-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url('../images/client-img.jpg');
    border-radius:100% ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

/**********************testimonial***sections**ends**here***************************************/


.brands-section {
    position: relative;
}

.brands-section .brands-menu {
    list-style: none;
    transform: rotate(45deg);
}

.brands-section .brands-menu .brand {
    width: 124px;
    height: 124px;
    
 
}

.brands-section .brands-menu .brand a {
    display:block;
    width: 100%;
    height: 100%;
}

/*************************************************************************************************/

.sign-up-section {
    background: url('../images/logo-bg-2.svg') #0D1124;
    background-repeat: no-repeat;
    background-size:auto;
    background-position:bottom right;    
}


.sign-up-section .title-main .section-title {
    font-size: 45px;
}


.sign-up-section .title-main .section-description {
    padding-bottom: 50px;
}


/************************sign-up section ends here*************************************************/

.footer-section {
    padding: 100px 0px 50px 0px;
}

.footer-bg {
    background: linear-gradient(90deg, #030617 2.6%, #04091F 100%);
}


.footer-section .footer-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.footer-section .footer-menu .footer-menu-item {
    list-style: none;
    padding: 0px 30px 0px 30px;
    margin-bottom: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    
}


.footer-section .footer-menu .footer-menu-item:last-child {
    border: none;
}


.footer-section .footer-menu .footer-menu-item a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-section .footer-menu .footer-menu-item a:hover {
    text-decoration: underline;
}


.footer-section .social-media-menu {
    list-style: none;
}


.footer-section .social-media-menu .social-meida-icons {
    padding: 0px 40px;
    margin-bottom: 10px;
}


.footer-section .footer-logo img {
    max-width: 121px;
}





